body {
    /*border: 1px solid black;*/
    width: 100%;
    max-width: 500px;
    margin: 5px auto;
    /*background: green;*/
    font-size: 100%;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

h2 {
    margin: 3px;
}

button {
    width: 100%;
    background: lightblue;
    border: 1px solid gray;
    margin: 3px 0;
    font-size: 150%;
}

button:hover {
    background: #0df;
}

button:active {
    background: #0ff;
}

.app_box {
    border: 1px solid silver;
    padding: 3px;
    margin: 3px;
}

.top_box {
    display: flex;
}

.icon_box {
}

.title_box {
    margin-left: 12px;
}

.title_box h3 {
    margin: 3px;
    /*font-size: 150%;*/
}

.title_box h4 {
    margin: 0px;
    /*font-size: 130%;*/
}

.desc_box {
    padding: 10px;
}

.img_icon {
    width: 64px;
    height: 64px;
    padding: 5px;
}

.bottom_box {
    padding-left: 22px;
    padding-right: 22px;
}

.bottom_box::before, .bottom_box::after {
    content: "";
    clear: both;
    display: block;
}

.span_link {
    float: left;
}

.span_toggle {
    float: right;
}

.gt {
    color: gray;
}

.gt a {
    color: gray;
    text-decoration: underline;
}

.gt a:visited {
    color: gray;
}

.gt a:hover {
    color: lightgray;
}

/*
 * https://www.w3schools.com/howto/howto_css_switch.asp
 * */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f00;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #04BA3B;
}

input:focus + .slider {
  box-shadow: 0 0 1px #04BA3B;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
